$brainFlix-black: #323232;
$brainFlix-blue:#0095FF;
$silver:#AFAFAF;
$white:#FFFFFF;

$brainFlix-DarkBlack:#000000;
$brainFlix-DarkBlue:#0065AD;
$mercury:#E1E1E1;
$alabaster:#FAFAFA;

$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;
$mobile: 320px;

