@use '../../style/partials/font' as *;
@use '../../style/partials/mixins'as *;
@use '../../style/partials/variable' as *;




.comments{
    width: 100%;
    padding: 1rem;
    // display: flex;
    // flex-direction: column;
    font-family: "Avenir";

    &__title{
        font-weight: 700;
        margin-top: 0%;
        font-size: 0.813rem;
        

        @include tablet{
            font-size: 2.25rem;
        }

        @include desktop{
            padding-left: 6.3rem;
        }

    }

    &__right{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 80%;
    }

    &__form-container{
        display: flex;
        justify-content: flex-end;
        padding-bottom: 1rem;
        border-bottom: $mercury 1px solid;
    }

    &__avatar{
        background-image: url('../../\ Assets/Images/Mohan-muruge.jpg');
        border-radius: 50% 50%;
        width: 2.5rem;
        height: 2.25rem;
        margin: 1rem 1rem 1rem 0;
        background-size: cover;
        background-position: center center;
    
    }

    &-form{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;

        &__title{
            font-weight: 700;
            font-size: 0.813rem;
            color: $silver;
            margin: 0.5rem 0;
        }

        &__area{
            font-family: "Avenir";
            padding: 1rem;
            border-radius: 4px;
            height: 6rem;
            border: 1px $mercury solid;
            margin-bottom: 1.5rem;
            background-color: $alabaster;
            color: $brainFlix-black;
            
    
            @include tablet{
                font-size: 0.875rem;
                }
    
            &:focus{
                border: none;
                outline: $brainFlix-black 1px solid;
            } 
        }

        &__btn{
            @include btn-mobile
        }

    }

    &__box{

        width: 100%;
        border-bottom: $mercury 1px solid;
        padding-bottom: 1rem;
        display: flex;
        font-family: "Avenir";

        &--avatar{
            height: 2.8rem;
            width: 2.8rem;
            background-color: $mercury;
            border-radius: 50%;
            margin: 1rem 1rem 0 0;

            @include tablet{
                width: 3.7rem;
                height: 3.5rem;
            }
        }

        &--content{
            display: flex;
            flex-direction: column;
            width: 76%;

            @include tablet{
                font-size: 0.875rem;
                display: grid;
                width: 90%;
            }
        }

        &--top{
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        &--date,&--name, &--text{
            color: $brainFlix-black;
            font-size: 0.813rem;
            line-height: 1.125rem;

            @include tablet{
                font-size: 0.875rem;
                line-height: 1.3rem;
            }
            
        }

        &--name{
            font-weight: 600;
            margin-bottom: 0.5rem;     
        }

        &--date{
            color: $silver;
            margin-bottom: 0.5rem;
        }
        &--text{
            margin: 0;
        }

        



    }

}